<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login - Face Attendance</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <h1 style="text-align:center; color:#063a6c; margin-top:60px; margin-bottom:20px; font-size:36px;">Welcome to AI Face Attendance System</h1>
  <div class="card">
    <h2 style="text-align:center; color:#063a6c;">Login</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="flash">{{ messages[0] }}</div>
    {% endif %}
    {% endwith %}
    <form method="post">
      <label>Role</label>
      <select name="role" required>
        <option value="admin">Admin</option>
        <option value="teacher">Teacher</option>
        <option value="student">Student</option>
      </select>
      <label>Username</label>
      <input type="text" name="username" required>
      <label>Password</label>
      <input type="password" name="password" required>
      <button type="submit">Sign In</button>
    </form>
  </div>
</body>
</html>